html {
    height: 100%;
}

body {
    font-family: var(--font-family-main), sans-serif;
    font-size: var(--font-size-m);
    color: var(--primary-color);
    background-color: var(--bg-white-color);
    font-style: normal;
    font-weight: 400;
    line-height: var(--font-line);
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
    line-height: var(--font-line-title);
    font-weight: 600;
}

main {
    flex: 1;
}

a {
    color: var(--primary-color);
}

a:hover {
    color: var(--accent-color);
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}