html {
    height: 100%;
}

body {
    font-family: var(--font-family-main);
    font-size: var(--font-size-s);
    color: var(--primary);
    font-style: normal;
    font-weight: 400;
    line-height: var(--font-line);
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
    line-height: var(--font-line);
    font-weight: 700;
}

main {
    flex: 1;
}

a:hover {
    color: var(--blue);
}

.container {
    max-width: 1272px;
    padding: 0 16px;
    margin: 0 auto;
}