:root {
  /* Шрифты */
  --font-family-main: 'Inter', sans-serif;
  --font-line-title: 120%;
  --font-line: 130%;
  --font-line-accent: 140%;
  --font-line-half: 150%;
  --font-size-xss: 12px;
  --font-size-xs: 14px;
  --font-size-s: 16px;
  --font-size-m: 18px;
  --font-size-l: 20px;
  --font-size-xl: 24px;

  /* Цвета */
  --primary: #0F0F0F;
  --light-primary: #252525;
  --grey: #616161;
  --purple: #BD55D3;
  --green: #C7FF3F;
  --blue: #122BFC;
  --white: #FFFFFF;

  --bg-white: #FFFFFF;
  --bg-purple-light: rgb(227, 158, 237);
  --bg-purple-white: #EED2F3;
  --bg-purple-white-ligth: #F4EBF5;
  --bg-grey: #F5F7F6;
  --bg-grey-input: #F1F1F1;
  --bg-grey-slider: #D9D9D9;

  /* Индексы */

  /* Прочее */
  --primary-transition: 0.3s ease;
}
