:root {
    /* Шрифты */
    --font-line-title: 120%;
    --font-line: 155%;
    --font-line-accent: 140%;
    --font-size-m: 18px;

    /* Цвета */
    --primary-color: #1A1A1A;
    --accent-color: #4F46E5;
    --text-secondary-color: #5B6475;
    --border-color: #E6E8EE;
    --bg-base-color: #F7F8FA;
    --bg-white-color: #FFF;

    /* Индексы */

    /* Прочее */
    --primary-transition: 0.3s ease;
}