.footer {
    background-color: var(--bg-black);
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding: 30px 0;
    position: relative;
}

.footer__links {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    color: var(--white);
}

.footer__link {
    color: var(--white);
}

@media (max-width: 1190px) {
    .footer__inner {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 530px) {
    .footer__links {
        flex-direction: column;
    }

    .footer__actions {
        flex-direction: column;
        gap: 16px;
    }
}