.hero {
    min-width: 100%;
    width: 100%;
    background-color: var(--bg-base-color);
    border: 1px solid var(--border-color);
    border-radius: 30px;
    padding: 30px 60px;
}

.hero__title {
    font-size: 44px;
    margin-bottom: 20px;
}

.hero__description {
    max-width: 1027px;
    font-weight: 500;
}

@media (width <= 1024px) {
    .hero {
        padding: 20px 16px;
    }

    .hero__title {
        font-size: 24px;
    }

    .hero__description {
        font-size: 14px;
        font-weight: 400;
    }
}